.TodoManager {
  .todo-list-wrapper {
    overflow-y: auto;
    min-height: 45vh;
    max-height: 45vh;
    @include media-breakpoint-up(sm) {
      min-height: 60vh;
      max-height: 60vh;
    }
  }
}
