// Build theme background colors with different opacity.
// E.g. bg-primary-o-10 -> bg-primary with opacity set to 10%.
$i: 0;
@each $themeIdentifier, $themeColor in $theme-colors {
  @while $i <= 1 {
    .bg-#{$themeIdentifier}-o-#{$i * 100} {
      background: rgba($themeColor, $i) !important;
    }
    $i: $i + .10;
  }
}

// White placeholder text in form controls
.placeholder-white.form-control {
  &::-webkit-input-placeholder {
    color: white;
  }

  &:-moz-placeholder {
    color: white;
  }

  &::-moz-placeholder {
    color: white;
  }

  &:-ms-input-placeholder {
    color: white;
  }

  &::-ms-input-placeholder {
    color: white;
  }
}

